{% extends 'generic/base.html' %}

<title>{% block title %}Evy Haan Portfolio{% endblock title %}</title>

{% block content %}

<section class="welcome">
    <h1>Well hello there!</h2>
        {% block welcome %}
        <p>{{ message }}</p>
        {% endblock welcome %}
</section>

<section class="projects">
    <h2>Projects</h2>
    {% for project in projects %}
    <a href="{% url 'detail' project.id %}">
        <figure>
            <img src="{{ project.image.url }}" alt="{{ project.alttext }}" height="100">
            <figcaption>{{ project.title }}</figcaption>
        </figure>
    </a>
    {% endfor %}
</section>

<section class="about">
    <h2>About Me</h2>
</section>

<section class="connect">
    <h2>Contact</h2>
</section>

{% endblock content %}